<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<body>

    <header>
        <div class="topper-con">
            <div class="topper">
                <div class="topper-info">
                    <p>This page is inclunded in a free SaaS Website Kit.</p>
                    <a href="#">View the complete Kit <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="navbar-l">
                    <div class="nav-logo">
                        <img src="./src/Logo/logosaas.png" alt="">
                        <p>made by</p>
                        <img src="./src/black-horizontal 1.png" alt="">
                    </div>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Updates</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <div class="nav-btn">
                        <a href="#">Get for free</a>
                    </div>
                </div>
            </nav>
            <div class="main-content">
                <div class="main">
                    <div class="b">
                        <p class="header-p">Version 2.0 is here</p>
                    </div>
                    <h1 class="header-h1">Pathway to productivity</h1>
                    <p class="last-p">Celebrate the joy of accomplishment with an app designed to track your progress, motivate your efforts, and celebrate your successes.</p>
                    <div class="btn-header">
                        <button type="button">Get for free</button>
                        <a href="Learn more">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="main-logo">
                    <img class="m-logo1" src="./src/main-logo/cylinder 1.png" alt="">
                    <img class="m-logo2" src="./src/main-logo/half-torus 1.png" alt="">
                    <img class="m-logo3" src="./src/main-logo/Visual.png" alt="">
                </div>
            </div>
            <div class="main-comp-footer">
                <div class="comp-logo">
                    <img src="./src/com/acme 1.png" alt="" class="com-1">
                    <img src="./src/com/apex 1.png" alt="" class="com-2">
                    <img src="./src/com/celestia 1.png" alt="" class="com-3">
                    <img src="./src/com/echo 1.png" alt="" class="com-4">
                    <img src="./src/com/pulse 1.png" alt="" class="com-5">
                    <img src="./src/com/quantum 1.png" alt="" class="com-6">
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="product-m">
            <div class="product">
                <div class="product-h">
                    <div class="s-b">
                        <span class="s-span">Boost your productivity</span>
                    </div>
                    <div class="product-info">
                        <h2>A more effective way to <br> track progress</h2>
                        <p>Effortlessly turn your ideas into a fully functional, responsive, no-code SaaS website in just minutes with the set of free components for Framer.</p>
                    </div>
                </div>
                <div class="product-f">
                    <div class="img-product">
                        <img src="./src/product/Product Image.png" alt="" class="img-pf-h">
                        <img src="./src/product/pyramid 1.png" alt="" class="img-pf-1">
                        <img src="./src/product/torus 1.png" alt="" class="img-pf-2">
                        <img src="./src/product/Grid.png" alt="" class="img-pf-3">
                        <img src="./src/responsive/Grid.png" alt="" class="img-pf-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="everyneed">
            <div class="need">
                <div class="need-h">
                    <div class="n-b">
                        <span class="n-span">Everything you need</span>
                    </div>
                    <div class="n-info">
                        <h1>Streamlined for easy management</h1>
                        <p>Enjoy customizable lists, team work tools, and smart tracking all in one place. Set tasks, get reminders, and see your progress simply and quickly.</p>
                    </div>
                </div>
                <div class="need-ch">
                    <div class="need-c">
                        <div class="need-left">
                            <img src="./src/Footer-S/Socials/cube-helix 1.png" alt="">
                            <div class="need-content-left">
                                <h2>Integration ecosystem</h2>
                                <p>Enhance your productivity by connecting with your favorite tools, keeping all your <br>
                                    essentials in one place.</p>
                            </div>
                        </div>
                        <div class="need-right">
                            <img src="./src/Footer-S/Socials/cube-helix 1-1.png" alt="">
                            <div class="need-content-right">
                                <h2>Goal setting and tracking</h2>
                                <p>Define and track your goals, breaking down objectives into achievable tasks to keep your targets in sight.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing">
            <div class="price">
                <div class="price-h">
                    <div class="price-tag">
                        <span class="p-tag">Boost your productivity</span>
                    </div>
                    <div class="price-info">
                        <h2>A more effective way to <br> track progress</h2>
                        <p>Effortlessly turn your ideas into a fully functional, responsive, no-code SaaS website in just minutes with the set of free components for Framer.</p>
                    </div>
                </div>
                <div class="price-f">
                    <div class="p-group">
                        <div class="pc-g1">
                            <div class="pcc-1">
                                <span class="pc-sub">Free</span>
                                <div class="pc-p">
                                    <p class="pc-price">$0</p>
                                    <span class="pc-mou">/monthly</span>
                                </div>
                                <div class="btn-pc">
                                    <button type="submit" class="btn-pcs">Get started for free</button>
                                </div>
                                <div class="pc-info">
                                    <div class="pc-info-1">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Up to 5 project members</p>
                                    </div>
                                    <div class="pc-info-2">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Unlimited tasks and projects</p>
                                    </div>
                                    <div class="pc-info-3">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">2GB storage</p>
                                    </div>
                                    <div class="pc-info-4">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Integrations</p>
                                    </div>
                                    <div class="pc-info-5">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Basic support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pc-g2">
                            <div class="pcc-2">
                                <div class="pcc-head">
                                    <span class="pc-sub">Pro</span>
                                    <tag class="pc-most">Most Popular</tag>
                                </div>
                                <div class="pc-p">
                                    <p class="pc-price">$9</p>
                                    <span class="pc-mou">/monthly</span>
                                </div>
                                <div class="btn-pc">
                                    <button type="submit" class="btn-pcs">Sign up now</button>
                                </div>
                                <div class="pc-info">
                                    <div class="pc-info-1">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">Up to 50 project members</p>
                                    </div>
                                    <div class="pc-info-2">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">Unlimited tasks and projects</p>
                                    </div>
                                    <div class="pc-info-3">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">50GB storage</p>
                                    </div>
                                    <div class="pc-info-4">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">Integrations</p>
                                    </div>
                                    <div class="pc-info-5">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">Priority support</p>
                                    </div>
                                    <div class="pc-info-6">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">Advanced support</p>
                                    </div>
                                    <div class="pc-info-7">
                                        <p><img src="./src/pg-icon/Vector (1).png" alt="">Export support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pc-g3">
                            <div class="pcc-3">
                                <span class="pc-sub">Business</span>
                                <div class="pc-p">
                                    <p class="pc-price">$19</p>
                                    <span class="pc-mou">/monthly</span>
                                </div>
                                <div class="btn-pc">
                                    <button type="submit" class="btn-pcs">Sign up now</button>
                                </div>
                                <div class="pc-info">
                                    <div class="pc-info-1">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Up to 5 project members</p>
                                    </div>
                                    <div class="pc-info-2">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Unlimited tasks and projects</p>
                                    </div>
                                    <div class="pc-info-3">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">200GB storage</p>
                                    </div>
                                    <div class="pc-info-4">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Integrations</p>
                                    </div>
                                    <div class="pc-info-5">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Dedicated account manager</p>
                                    </div>
                                    <div class="pc-info-6">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Custom fields</p>
                                    </div>
                                    <div class="pc-info-7">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Advanced analytics</p>
                                    </div>
                                    <div class="pc-info-8">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Export capabilities</p>
                                    </div>
                                    <div class="pc-info-9">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">API access</p>
                                    </div>
                                    <div class="pc-info-10">
                                        <p><img src="./src/pg-icon/Vector.png" alt="">Advanced security features</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="testi">
                <div class="testi-h">
                    <div class="testi-tag">
                        <span class="t-tag">Testimonials</span>
                    </div>
                    <div class="testi-info">
                        <h2>What our users say</h2>
                    </div>
                </div>
            </div>
            <div class="testi-grid">
                <div class="t-grid">
                    <div class="tg-left">
                        <div class="tc-1">
                            <div class="tc-com">
                                <p class="tc-c">
                                    As a seasoned designer always on the lookout for innovative tools, Framer.com instantly grabbed my attention.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Alex Rivera</p>
                                        <p class="tc-add">@jamietechguru00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tc-2">
                            <div class="tc-com">
                                <p class="tc-c">
                                    Our team’s productivity has skyrocketed since we started using this tool.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-8.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Josh Smith</p>
                                        <p class="tc-add">@jjsmith</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tc-3">
                            <div class="tc-com">
                                <p class="tc-c">
                                    This app has completely transformed how I manage my projects and deadlines.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-7.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Morgan Lee</p>
                                        <p class="tc-add">@morganleewhiz</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tc-center">
                        <div class="tc-4">
                            <div class="tc-com">
                                <p class="tc-c">
                                    I was amazed at how quickly we were able to integrate this app into our workflow.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-1.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Casey Jordan</p>
                                        <p class="tc-add">@caseyj</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tc-5">
                            <div class="tc-com">
                                <p class="tc-c">
                                    Planning and executing events has never been easier. This app helps me keep track of all the moving parts, ensuring nothing slips through the cracks.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-5.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Taylor Kim</p>
                                        <p class="tc-add">@taylorkimm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tc-6">
                            <div class="tc-com">
                                <p class="tc-c">
                                    The customizability and integration capabilities of this app are top-notch.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-6.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Riley Smith</p>
                                        <p class="tc-add">@rileysmith1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tc-right">
                        <div class="tc-7">
                            <div class="tc-com">
                                <p class="tc-c">
                                    Adopting this app for our team has streamlined our project management and improved communication across the board. 
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-2.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Jordan Patels</p>
                                        <p class="tc-add">@jpatelsdesign</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tc-8">
                            <div class="tc-com">
                                <p class="tc-c">
                                    With this app, we can easily assign tasks, track progress, and manage documents all in one place.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-3.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Sam Dawson</p>
                                        <p class="tc-add">@dawsontechtips</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tc-9">
                            <div class="tc-com">
                                <p class="tc-c">
                                    Its user-friendly interface and robust features support our diverse needs.
                                </p>
                                <div class="tc-profile">
                                    <img src="./src/texti-profile/Ellipse 1-4.png" alt="" class="tc-info-img">
                                    <div class="tc-info">
                                        <p class="tc-name">Casey Harper</p>
                                        <p class="tc-add">@casey09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sign-up">
            <div class="sign-h">
                <img src="./src/signup/emojistar 1.png" alt="" class="sign-img-1">
                <img src="./src/signup/helix2 1.png" alt="" class="sign-img-2">
                <div class="sign-info">
                    <div class="sign-i">
                        <h2>Sign up for free today</h2>
                        <p>Celebrate the joy of accomplishment with an app designed to track your progress and motivate your efforts.</p>
                    </div>
                    <div class="sign-btn">
                        <div class="sign-header">
                            <button type="button">Get for free</button>
                            <a href="Learn more">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-l">
                <div class="footer-nav">
                    <div class="footer-left">
                        <div class="footer-lup">
                            <img src="./src/Logo/logosaas.png" alt="" class="fimg">
                            <p>Effortlessly turn your ideas into a fully functional, responsive, no-code SaaS website.</p>
                        </div>
                        <div class="footer-logo">
                            <img src="./src/footer-l/footer-logo/Socials-5.png" alt="">
                            <img src="./src/footer-l/footer-logo/Socials.png" alt="">
                            <img src="./src/footer-l/footer-logo/Socials-4.png" alt="">
                            <img src="./src/footer-l/footer-logo/Socials-2.png" alt="">
                            <img src="./src/footer-l/footer-logo/Socials-3.png" alt="">
                            <img src="./src/footer-l/footer-logo/Socials-1.png" alt="">
                        </div>
                    </div>
                    <div class="footer-right">
                        <div class="f-product">
                            <p class="ff-header">Product</p>
                            <p class="ff-info">Feature</p>
                            <p class="ff-info">Intergrations</p>
                            <p class="ff-info">Updates</p>
                            <p class="ff-info">FAQ</p>
                            <p class="ff-info">Pricing</p>
                        </div>
                        <div class="f-company">
                            <p class="ff-header">Company</p>
                            <p class="ff-info">About</p>
                            <p class="ff-info">Blog</p>
                            <p class="ff-info">Careers</p>
                            <p class="ff-info">Manifesto</p>
                            <p class="ff-info">Press</p>
                            <p class="ff-info">Contact</p>
                        </div>
                        <div class="f-resouse">
                            <p class="ff-header">Resouses</p>
                            <p class="ff-info">Examples</p>
                            <p class="ff-info">Community</p>
                            <p class="ff-info">Guides</p>
                            <p class="ff-info">Docs</p>
                        </div>
                        <div class="f-legal">
                            <p class="ff-header">Legal</p>
                            <p class="ff-info">Privacy</p>
                            <p class="ff-info">Terms</p>
                            <p class="ff-info">Security</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>

