<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="navbar">
                <img src="./src/logo.png" alt="">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="container">
                <div class="avatar">
                    <img src="./src/avatar (1).png" alt="">
                </div>
                <div class="title">
                    <h1>I do code and <br>
                        make content <span>about it!</span></h1>
                </div>
                <div class="about-me">
                    <p>I am a seasoned full-stack software engineer with over <br>
                        8 years of professional experience, specializing in backend development. <br>
                        My expertise lies in crafting robust and scalable SaaS-based <br>
                        architectures on the Amazon AWS platform.</p>
                </div>
                <div class="action-button">
                    <button class="get-in-touch" type="submit">Get In Touch</button>
                    <button class="download-cv" type="submit">Download CV</button>
                </div>
                <div class="skills">
                    <p>EXPERIENCE WITH</p>
                </div>
                <div class="img-skills">
                    <img src="./src/Logos.png" alt="">
                </div>
                
                <div class="project-rows">
                    <h1>project</h1>
                    <div class="project">
                        <div class="left-project">
                            <img src="./src/project-thumbnail-1.png" alt="">
                            <img class="view-left" src="./src/View Icon.png" alt="">
                            <p>click here to visit</p>
                            <h3>html tutorial</h3>
                        </div>
                        <div class="right-project">
                            <img src="./src/project-thumbnail-2.png" alt="">
                            <img class="view-right" src="./src/View Icon.png" alt="">
                            <p>click here to visit</p>
                            <h3>html tutorial</h3>
                        </div>
                    </div>
                </div>
                <div class="exp">
                    <div class="experince">
                        <h1 class="text-head">experince</h1>
                        <div class="job-since">
                            <div class="google job-item">
                                <div class="job-title">
                                    <img src="./src/google-logo.png" alt="" class="google logo">
                                    <span class="role-job">Lead Software Engineer at Google</span>
                                </div>
                                <div class="job-detail">
                                    <p class="year-job">Nov 2019 - Present</p>
                                    <p class="job-info">As a Senior Software Engineer at Google, I played a pivotal role in developing innovative solutions for Google's core search algorithms. Collaborating with a dynamic team of engineers, I contributed to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of users worldwide.</p>
                                </div>
                            </div>
                            <div class="apple job-item">
                                <div class="job-title">
                                    <img src="./src/apple-logo.png" alt="" class="apple logo">
                                    <span class="role-job">Junior Software Engineer at Apple</ห>
                                </div>
                                <div class="job-detail">
                                    <p class="year-job">Jan 2016 - Dec 2017</p>
                                    <p class="job-info">During my tenure at Apple, I held the role of Software Architect, where I played a key role in shaping the architecture of mission-critical software projects. Responsible for designing scalable and efficient systems, I provided technical leadership to a cross-functional team.</p>
                                </div>
                            </div>
                            <div class="meta job-item">
                                <div class="job-title">
                                    <img src="./src/meta-logo.png" alt="" class="meta-logo">
                                    <span class="role-job">Software Engineer at Meta</span>
                                </div>
                                <div class="job-detail">
                                    <p class="year-job">Jan 2017 - Oct 2019</p>
                                    <p class="job-info">At Meta, I served as a  Software Engineer, focusing on the design and implementation of backend systems for the social media giant's dynamic platform. Working on projects that involved large-scale data processing and user engagement features, I leveraged my expertise to ensure seamless functionality and scalability.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <footer>
        <div class="contact">
            <div class="contact-info">
                <h1>Contact</h1>
                <p class="footer-info">Seasoned Full Stack Software Engineer with over 8 years of hands-on experience in designing
                and implementing robust, scalable, and innovative web solutions. Adept at leveraging a
                comprehensive skill set encompassing front-end and back-end technologies </p>
                <div class="email-section">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><p>abmcodehub@gmail.com</p>
                </div>
                <img src="./src/Contact Icons.png" alt="">
            </div>
        </div>
    </footer>
</body>
</html>