<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

    <header>
        <div class="head">
            <div class="h-bar">
                <p>This page is included in a free SaaS Website Kit.</p>
                <div class="btn-bar">
                    <a href="#">View the complete Kit <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Navbar -->
            <nav>
                <div class="navbar">
                    <div class="nav">
                        <div class="nav-logo">
                            <img src="./src/Logo/Default.png" alt="" class="nav-l">
                            <p class="nav-made">made by</p>
                            <div class="nav-r">
                                <img src="./src/Logo/Vector.png" alt="">
                                <p class="nav-ro">Framer</p>
                            </div>
                        </div>
                        <div class="nav-btn">
                            <a href="#">Get for free</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="hero">
                <div class="hero-c">
                    <div class="h-content">
                        <div class="h-tag">
                            <tag>Version 2.0 is here</tag>
                            <a href="#">Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                        <h1>One Task at a Time</h1>
                        <p>Celebrate the joy of accomplishment with an app designed to track your progress, motivate your efforts, and celebrate your successes.</p>
                        <div class="h-btn">
                            <a href="#">Get for free</a>
                        </div>
                    </div>
                    <div class="h-info">
                        <img src="./src/hero/cursor 1.png" alt="" class="h-in-1">
                        <img src="./src/hero/cursor 2.png" alt="" class="h-in-2">
                        <img src="./src/hero/message 2.png" alt="" class="h-in-3">
                        <img src="./src/hero/message 1.png" alt="" class="h-in-4">
                    </div>
                </div>
            </div>
            <div class="ticker">
                <div class="t-header">
                    <p>Trusted by the world’s most innovative teams</p>
                    <div class="t-logo">
                        <img src="./src/tricker/1.png" alt="">
                        <img src="./src/tricker/2.png" alt="">
                        <img src="./src/tricker/3.png" alt="">
                        <img src="./src/tricker/4.png" alt="">
                        <img src="./src/tricker/5.png" alt="">
                        <img src="./src/tricker/6.png" alt="">
                    </div>
                </div>
            </div>
            <div class="c-grid">
                <div class="grid">
                    <div class="h-grid">
                        <h2>Everything you need</h2>
                        <p>Enjoy customizable lists, team work tools, and smart tracking all in one place. Set tasks, get reminders, and see your progress simply and quickly.</p>
                    </div>
                    <div class="b-grid">
                        <div class="gr-1">
                            <img src="./src/grid-icon/Frame 21.png" alt="">
                            <div class="gr-info">
                                <p>Integration ecosystem</p>
                                <span>Enhance your productivity by connecting with your favorite tools, keeping all your essentials in one place.</span>
                            </div>
                        </div>
                        <div class="gr-2">
                            <img src="./src/grid-icon/Frame 21.png" alt="">
                            <div class="gr-info">
                                <p>Goal setting and tracking</p>
                                <span>Define and track your goals, breaking down objectives into achievable tasks to keep your targets in sight.</span>
                            </div>
                        </div>
                        <div class="gr-3">
                            <img src="./src/grid-icon/Frame 21.png" alt="">
                            <div class="gr-info">
                                <p>Secure data encryption</p>
                                <span>With end-to-end encryption, your data is securely stored and protected from unauthorized access.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-l">
                <div class="product">
                    <div class="h-product">
                        <div class="h-pro">
                            <div class="h-info">
                                <h2>Intuitive interface</h2>
                                <p>Celebrate the joy of accomplishment with an app designed to track your progress, motivate your efforts, and celebrate your successes, one task at a time.</p>
                            </div>
                            <div class="h-img">
                                <img src="./src/Bg/App Night.png" alt="" class="himg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq">
                    <div class="h-faq">
                        <h2>Frequently asked questions</h2>
                        <div class="faq-list">
                            <div class="faq-head">
                                <div class="fl-1">
                                    <p>How does the pricing work for teams</p>
                                    <img src="./src/faq/Vector.png" alt="">
                                </div>
                                <div class="fl-2">
                                    <p>How does the pricing work for teams</p>
                                    <img src="./src/faq/Vector.png" alt="">
                                </div>
                                <div class="fl-3">
                                    <p>How does the pricing work for teams</p>
                                    <img src="./src/faq/Vector.png" alt="">
                                </div>
                                <div class="fl-4">
                                    <p>How does the pricing work for teams</p>
                                    <img src="./src/faq/Vector.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="signup">
                <div class="h-sign">
                    <div class="sign-info">
                        <div class="s-info">
                            <h2>Get instant access</h2>
                            <p>Celebrate the joy of accomplishment with an app designed to track your progress and motivate your efforts.</p>
                        </div>
                        <div class="f-info">
                            <input type="form" value="" class="inp" placeholder="name@email.com">
                            <button type="submit" class="f-btn">Get access</button>
                        </div>
                    </div>
                    <div class="ls-info">
                        <img src="./src/sign/emojistar 1.png" alt="" class="si-1">
                        <img src="./src/sign/helix2 1.png" alt="" class="si-2">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <nav>
                <div class="nav-footer">
                    <div class="f-nav">
                        <p>@ 2024 Your Company, Inc. All rights reserved</p>
                        <div class="f-img">
                            <img src="./src/footer-s/Socials.png" alt="">
                            <img src="./src/footer-s/Socials-1.png" alt="">
                            <img src="./src/footer-s/Socials-2.png" alt="">
                            <img src="./src/footer-s/Socials-3.png" alt="">
                            <img src="./src/footer-s/Socials-4.png" alt="">
                            <img src="./src/footer-s/Socials-5.png" alt="">
                        </div>
                    </div>
                </div>
            </nav>
        </footer>
    </header>

</body>
</html>